<style>

.plantdetails button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 60%;
  margin-bottom: 20px;
}

 .plantdetails button {
  background: #8142f5;
  border: 1px solid #8142f5;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 5px 8px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
}

 .plantdetails  button:hover {
  background: #fff;
  color: #8142f5;
  transition: 0.3s ease background;
}

    .plantdetails {
        padding: 5rem;
        margin-left: 5rem;
    }

    .plantdetails form {
        display: flex;
        flex-direction: column;
    }

    .plantdetails li {
        list-style-type: none;
    }

    .plantdetails > div {
        display: flex;
        flex-wrap: wrap;
	    align-items: center;
    }

    .plantdetails img {
        width: 15rem;
        height: auto;
    }

    .plantdetails nav {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
        font-size: 1.5rem;
    }

      .plantdetails nav > a {
          padding: 0 2rem;

      }

    .databaseinfo {
        width: 50vw;
    }

    .plantdetails aside {
    display: flex;
    flex-direction: column;
    padding-right: 7rem;
    max-width: 30vw;

    }

     .plantdetails aside > div {
         justify-content: center;
	align-items: center;

     }


    .detailimage {
        display: flex;
        justify-content: center;
	    align-items: center;
    }

</style>



<div class = "plantdetails">
    <nav>
        <a href="/profile">Back to Plant Collection</a>
        <a href="/auth/logout">Logout</a>
    </nav>

    <h1>Plant Details</h1>

    {{#with plant}}

    <h2>Plant Nickname: {{customName}}</h2>

    {{/with}}

    <div>
        


            <aside>
                    <div class="detailimage">
                    <img src="{{plant.imgPath}}" alt="" height="400">
                    </div>
                    <div>
                <ul>
                    <li>
                        <p><b>Watering Schedule: </b>{{plant.waterSchedule}}</p>
                    </li>
                    <li>
                        {{#if plant.notes}}
                        <p><b>Notes: </b>{{plant.notes}}</p>
                        {{/if}}
                    </li>
                    {{#if plant.lastWater}}
                    <li>
                        <p><b>Last Watered:</b> {{plant.lastWater}}</p>
                    </li>
                    {{/if}}
                    
                    <form action="/plantDetail/{{plant._id}}/delete" method="post"><button>Delete Plant</button></form>
            
                </ul>
                </div>
            </aside>

             <div class = "databaseinfo">
         


            {{#with plant.plantInfo}}
            <section>
                <h2>Common Name: {{commonName}}</h2>
                <h2>Scientific Name: {{scientificName}}</h2>


                <p><b>Watering: </b>{{watering}}</p>
                <p><b><span>Light: </b></span>{{light}}</p>
                <p><b><span>Soil: </b></span>{{soil}}</p>
            </section>
            {{/with}}

         </div>

    </div>


</div>
