<style>
    .plant-detail-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    li {
        list-style-type: none;
    }
</style>
<p>plant details</p>

<a href="/profile">Back</a>

{{#with plant}}
<h1>{{customName}}</h1>
{{/with}}

{{#with plant.plantInfo}}
<h2>{{scientificName}}</h2>
{{/with}}


{{#if plant.plantInfo.image}}
<img src="{{plant.plantInfo.image}}" alt="" height="400">
{{else}}
<img src="{{plant.imgPath}}" alt="" height="400">
{{/if}}


<div class="plant-detail-flex">
    {{#with plant.plantInfo}}
    <section class="plantInfo">
        <h1>{{commonName}}</h1>
        <h3>Scientific Name: {{scientificName}}</h3>


        <p><b>Watering: </b>{{plant.plantInfo.watering}}</p>
        <p><b><span>Light: </b></span>{{plant.plantInfo.light}}</p>
        <p><b><span>Soil: </b></span>{{plant.plantInfo.soil}}</p>
    </section>
    {{/with}}


    <section>
        <ul>

            <li>
                <p><b>Custom name: </b>{{plant.customName}}</p>
            </li>
            <li>
                <p><b>Watering Schedule: </b>{{plant.waterSchedule}}</p>
            </li>
            <li>
                {{#if plant.notes}}
                <p><b>Notes: </b>{{plant.notes}}</p>
                {{/if}}
            </li>
            {{#if plant.lastWater}}
            <li>
                <p><b>Last Watered:</b> {{plant.lastWater}}</p>
            </li>
            {{/if}}
            {{!-- <a href="/celebrities/{{_id}}/edit">Edit</a> --}}
            <form action="/plantDetail/{{plant._id}}/delete" method="post"><button>Delete</button></form>
            {{!--             

            

            <label for="notes">Notes: </label>
            <textarea name="notes" style="height: 10rem" type="text" id="notes"></textarea>
            <button type="submit">Add a Plant</button> --}}
        </ul>
    </section>
</div>






<p>Welcome {{#if user}}{{user.username}}{{/if}} ❤️</p>