<style>
    body {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    .plants {
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 20px;
    }

    .plant {
        display: flex;
        flex-flow: column;
        margin: auto;
        justify-content: center;
    }

    .plant>img {
        align-self: center;
        width: 100%;
        width: 5rem;
    }

    .plant>a {
        font-size: 1rem;
    }

    .plant>h2 {
        text-align: center;
    }

    }
</style>

<a href="/">Home</a><br>
<a href="/auth/logout">Logout</a><br>


<p>Welcome {{#if user}}{{user.username}}{{/if}} ❤️</p>

<h2>Your Plant Collection</h2>
            <a href="/addplant">Add a Plant</a>

<div class="plants">
    
    <article class='plant'>

        {{#each userplants}}
        
        <h3>Name: {{this._doc.customName}}</h3>

        <p><a href="/plantdetail/{{this._doc._id}}">Plant Details</a></p>

        <img src={{this._doc.imgPath}} alt="plant_img">


        <p>Water Schedule: {{this._doc.waterSchedule}}</p>
        
        <form action="/profile/{{this._doc._id}}" method="POST">
        <label for="lastWater"><b>Last Watered on:</b></label>
        <input type="date" id="lastWater" name="lastWater" value={{this._doc.lastWater}} max={{today}}>
        <button type="submit">Update</button>
        </form>

        <p>Next Water: {{nextWater}}</p>


        {{/each}}
    </article>
</div>
        