<link rel="stylesheet" href="styles/profile.css">

<header class="header">

    <a href="/">
        <p>/Root Directory</p>

    </a>
    <a href="/auth/logout">Logout</a>

</header>

<main>
    <h2>Your Plant Collection</h2>
    <a href="/addplant">Add a Plant</a>

    <div class="plants">
        {{#each userplants}}
        <article class="plant">

            <a href="/plantdetail/{{this._doc._id}}">
                <div class="plant-image" style="background-image: url({{this._doc.imgPath}});">
                    <p class="plantdetails">plant details</p>
                </div>
            </a>
            <h3 class="">{{this._doc.customName}}</h3>


            <p>Water Schedule: {{this._doc.waterSchedule}}</p>
            <p>Next Water: {{nextWater}}</p>
            <form action="/profile/{{this._doc._id}}" method="POST">
                <label for="lastWater">Last Watered:</label>
                <input type="date" id="lastWater" name="lastWater" value={{this._doc.lastWater}} max={{today}}>
                <button type="submit">Update</button>
            </form>


        </article>
        {{/each}}
    </div>
</main>