<link rel="stylesheet" href="/styles/form.css" />


<header class="header">

    <a href="/">
        <p>/Root Directory</p>

    </a>
    <a href="/profile">Go to my collection</a>
    <a href="/auth/logout">Logout</a>

</header>


<div class="wrapper">
    <div class="inner">
        <form action="/customplant" method="POST" enctype="multipart/form-data">
            <label for="name">Plant Nickname:</label>
            <input class="input" type="text" name="customName" id="name">
            {{#if message}}
            <div class="error-message">{{message}}</div>
            {{/if}}
            <br>


            <label for="schedule">Watering Schedule:</label>
            <select class="input" name="waterSchedule" id="schedule">
                <br>


                {{#each userPlant}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <br>

            <label for="lastWater">Last Watered on:</label>
            <input class="input" type="date" id="lastWater" name="lastWater" value={{today}} min={{startOfThisYear}} max={{today}}>
            <br>


            <label>Add an Image</label>
            <input class="input" type="file" name="photo">
            <br>

            <label for="notes">Notes:</label>
            <textarea class="input" id="notes" name="notes" rows="4" cols="25"></textarea>

            <button type="submit">Add Plant</button>

        </form>
    </div>
</div>