<style>
    body {
        padding: 0;
        margin: 0
    }

    .wrap {
        width: 80%;
        margin: auto
    }

    .header {
        display: flex;
        background-color: #fffdf4;
        color: #3a3b4a;
        justify-content: space-between;
        align-items: center;
        padding: 1.3rem 3rem;
        font-size: 1.5rem;
    }

    .title {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 3em;
    }

    .categories {
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
    }

    .category {
        display: flex;
        flex-flow: column;
        margin: auto;
        justify-content: center;
        min-height: 13em;
        width: 13em;


    }

    .category>button {
        padding: 1em;
        background-color: rgba(255, 255, 255, 0.5);
        font-weight: normal;
        color: #a1a1a1;
        opacity: 1;
    }

    .category img {
        order: -1;
        align-self: center;

    }

    .plantsDB {
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
    }

    .plantDB {
        display: flex;
        flex-flow: column;
        margin: auto;
        justify-content: center;
        min-height: 13em;
        width: 13em;
    }

    .plantDB img {
        order: -1;
        align-self: center;
    }
</style>
<header class="header">
    <p>Welcome {{#if user}}{{user.username}}{{/if}} ❤️</p>
    <a href="/">Home</a>

</header>

<section class="wrap">
    <a href="/customplant">Add Custom Plant</a>
    <h1 class="title">Categories</h1>
    <div class="categories">
        {{#each categories}}
        <div class="category">
            <button type="button" onclick="handleClick(`{{this.name}}`)">
                <img src="{{this.image}}" alt="{{this.name}}" height="100">
                <h3>{{this.name}}</h3>
            </button>
        </div>
        {{/each}}
    </div>

    <button type="button" onclick="showAll()">All</button>

    <div class="plantsDB">
        {{#each plants}}
        <article class="plantDB" data-category="{{category}}" style="display: none">
            <a href="/addPlant/{{_id}}">
                <p>{{commonName}}</p>
                <img src="{{image}}" alt="" height="100">
            </a>
        </article>
        {{/each}}
    </div>

</section>




<script>
    const handleClick = (category) => {
        const plants = Array.from(document.querySelectorAll(`.plantDB[data-category="${category}"]`))
        const plantsToHide = Array.from(document.querySelectorAll(`.plantDB:not([data-category="${category}"])`))
        console.log(plants)
        plants.forEach(plant => plant.style.display = "flex")
        plantsToHide.forEach(plant => plant.style.display = "none")
    }
    const showAll = () => {
        const plants = Array.from(document.querySelectorAll(".plantDB"));
        plants.forEach(plant => plant.style.display = "flex")
    }
</script>