<style>
    .confirm-plant-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    form {
        display: flex;
        flex-direction: column;
    }
</style>

<p>confirm plant from database</p>

{{!-- form action="/addPlant/{{plantId}}" metohd="POST" --}}
<div class="confirm-plant-flex">
    {{#with plant}}
    <section class="plantInfo">
        <h1>{{commonName}}</h1>
        <h2>Scientific Name: {{scientificName}}</h2>
        <img src="{{image}}" alt="">
        <p><b>Watering: </b>{{watering}}</p>
        <p><b>Light: </b>{{light}}</p>
        <p><b>Soil: </b>{{soil}}</p>
    </section>
    {{/with}}


    <section>
        <form action="/addPlant/{{plantId}}" method="POST" enctype="multipart/form-data">

            <label for="customName">Custom name: </label>
            <input type="text" id="customName" name="customName">


            <label for="schedule">Watering Schedule: </label>
            <select name="waterSchedule" id="schedule">
                {{#each userPlant}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>

            <label>Add an Image</label>
            <input type="file" name="photo">

            <label for="notes">Notes: </label>
            <textarea name="notes" style="height: 10rem" type="text" id="notes"></textarea>

            <button type="submit">Add Plant</button>
        </form>
    </section>
</div>


<p>Welcome {{#if user}}{{user.username}}{{/if}} ❤️</p>