<style>
    .confirm-plant-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        background-color: #fffdf4;
        color: #3a3b4a;
        justify-content: space-between;
        align-items: center;
        padding: 1.3rem 3rem;
        font-size: 1.5rem;
    }
</style>


<header class="header">

    <a href="/">
        <p>/Root Directory</p>

    </a>
    <a href="/profile">Go back to my collection</a>
    <a href="/auth/logout">Logout</a>

</header>

{{!-- form action="/addPlant/{{plantId}}" metohd="POST" --}}
<div class="confirm-plant-flex">
    {{#with plant}}
    <section class="plantInfo">
        <h1>{{commonName}}</h1>
        <h2>Scientific Name: {{scientificName}}</h2>
        <img src="{{image}}" alt="" height="500">
        <p><b>Watering: </b>{{watering}}</p>
        <p><b>Light: </b>{{light}}</p>
        <p><b>Soil: </b>{{soil}}</p>
    </section>
    {{/with}}


    <section>
        <form action="/addPlant/{{plantId}}" method="POST" enctype="multipart/form-data">

            <label for="customName">Custom name: </label>
            <input type="text" id="customName" name="customName">
            {{!--          Added by Karl - start
 --}} {{#if message}}
            <div class="error-message">{{message}}</div>
            {{/if}}
            {{!-- Added by Karl - end
 --}}
            <label for="schedule">Watering Schedule: </label>
            <select name="waterSchedule" id="schedule">
                {{#each userPlant}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>

            <label for="lastWater">Last Watered on:</label>
            <input type="date" id="lastWater" name="lastWater" value={{today}} min={{startOfThisYear}} max={{today}}>

            <label>Add an Image</label>
            <input type="file" name="photo">

            <label for="notes">Notes: </label>
            <textarea name="notes" style="height: 10rem" type="text" id="notes"></textarea>

            <button type="submit">Add Plant</button>
        </form>
    </section>
</div>